In [4]:
import pandas as pd
import numpy as np

# File paths (update with your actual file locations)
train_file = "train_FD001.txt"
test_file = "test_FD001.txt"
rul_file = "RUL_FD001.txt"

# Define column names for the CMAPSS dataset
columns = ["unit_number", "time_in_cycles", "op_setting_1", "op_setting_2", "op_setting_3"] + \
          [f"sensor_{i}" for i in range(1, 22)]

# Load data
train_data = pd.read_csv(train_file, sep=r'\s+', header=None, names=columns, engine='python').dropna(axis=1)
test_data = pd.read_csv(test_file, sep=r'\s+', header=None, names=columns, engine='python').dropna(axis=1)
rul_data = pd.read_csv(rul_file, header=None, names=["RUL"])

train_data.head()

,unit_number,time_in_cycles,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044

In [3]:
# Check the first few rows of the file to ensure it's read correctly
with open(train_file, 'r') as f:
    print(f.readlines()[:5])

# Try reading with a more flexible separator (e.g., whitespace)
train_data = pd.read_csv(train_file, sep=r'\s+', header=None, names=columns, engine='python').dropna(axis=1)

# Check if the missing columns are now included
print(train_data.head())

['1 1 -0.0007 -0.0004 100.0 518.67 641.82 1589.70 1400.60 14.62 21.61 554.36 2388.06 9046.19 1.30 47.47 521.66 2388.02 8138.62 8.4195 0.03 392 2388 100.00 39.06 23.4190  \n', '1 2 0.0019 -0.0003 100.0 518.67 642.15 1591.82 1403.14 14.62 21.61 553.75 2388.04 9044.07 1.30 47.49 522.28 2388.07 8131.49 8.4318 0.03 392 2388 100.00 39.00 23.4236  \n', '1 3 -0.0043 0.0003 100.0 518.67 642.35 1587.99 1404.20 14.62 21.61 554.26 2388.08 9052.94 1.30 47.27 522.42 2388.03 8133.23 8.4178 0.03 390 2388 100.00 38.95 23.3442  \n', '1 4 0.0007 0.0000 100.0 518.67 642.35 1582.79 1401.87 14.62 21.61 554.45 2388.11 9049.48 1.30 47.13 522.86 2388.08 8133.83 8.3682 0.03 392 2388 100.00 38.88 23.3739  \n', '1 5 -0.0019 -0.0002 100.0 518.67 642.37 1582.85 1406.22 14.62 21.61 554.00 2388.06 9055.15 1.30 47.28 522.19 2388.04 8133.80 8.4294 0.03 393 2388 100.00 38.90 23.4044  \n']
   unit_number  time_in_cycles  op_setting_1  op_setting_2  op_setting_3  \
0            1               1       -0.0007       -0.0004         100.0
1            1               2        0.0019       -0.0003         100.0
2            1               3       -0.0043        0.0003         100.0
3            1               4        0.0007        0.0000         100.0
4            1               5       -0.0019       -0.0002         100.0

   sensor_1  sensor_2  sensor_3  sensor_4  sensor_5  ...  sensor_12  \
0    518.67    641.82   1589.70   1400.60     14.62  ...     521.66
1    518.67    642.15   1591.82   1403.14     14.62  ...     522.28
2    518.67    642.35   1587.99   1404.20     14.62  ...     522.42
3    518.67    642.35   1582.79   1401.87     14.62  ...     522.86
4    518.67    642.37   1582.85   1406.22     14.62  ...     522.19

   sensor_13  sensor_14  sensor_15  sensor_16  sensor_17  sensor_18  \
0    2388.02    8138.62     8.4195       0.03        392       2388
1    2388.07    8131.49     8.4318       0.03        392       2388
2    2388.03    8133.23     8.4178       0.03        390       2388
3    2388.08    8133.83     8.3682       0.03        392       2388
4    2388.04    8133.80     8.4294       0.03        393       2388

   sensor_19  sensor_20  sensor_21
0      100.0      39.06    23.4190
1      100.0      39.00    23.4236
2      100.0      38.95    23.3442
3      100.0      38.88    23.3739
4      100.0      38.90    23.4044

[5 rows x 26 columns]